.sidebar {
        background: #3C8069 !important;
      }

/* .sidebar__logo__character {
        visibility: hidden !important;
        position: relative !important;
} */

.sidebar__logo__character {
        content: url("https://www.sanrio.co.jp/special/characterranking/2025/assets/img/characters/usahana.png");
}
