.sidebar,
.nav-bar {
        background: #32201b;
      }
.nav-bar__logo img,
.sidebar__logo__character img { 
        content: url("https://www.sanrio.co.jp/special/characterranking/2025/assets/img/characters/usahana.png") !important;
      }
.sidebar__logo__text-logo img {
       content: url("https://logos.textgiraffe.com/logos/logo-name/Dev-designstyle-candy-m.png") !important;
      }
